USE [ebookshop105]
GO
/****** Object:  Table [dbo].[bill]    Script Date: 3/25/2025 3:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[bill_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[total_money] [money] NOT NULL,
	[payment] [nvarchar](255) NOT NULL,
	[create_date] [datetime] NOT NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill_detail]    Script Date: 3/25/2025 3:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_detail](
	[bd_id] [int] IDENTITY(1,1) NOT NULL,
	[bill_id] [int] NOT NULL,
	[book_id] [nvarchar](10) NOT NULL,
	[price] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bd_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book]    Script Date: 3/25/2025 3:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book](
	[book_id] [nvarchar](10) NOT NULL,
	[book_name] [nvarchar](max) NOT NULL,
	[supplier_id] [nvarchar](10) NOT NULL,
	[category_id] [nvarchar](10) NOT NULL,
	[cover_pics] [nvarchar](max) NOT NULL,
	[author] [nvarchar](255) NOT NULL,
	[price] [money] NOT NULL,
	[description] [nvarchar](max) NULL,
	[book_content] [nvarchar](max) NOT NULL,
	[addeddate] [date] NOT NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 3/25/2025 3:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[category_id] [nvarchar](10) NOT NULL,
	[category_name] [nvarchar](255) NOT NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[supplier]    Script Date: 3/25/2025 3:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supplier](
	[supplier_id] [nvarchar](10) NOT NULL,
	[description] [nvarchar](max) NULL,
	[supplier_name] [nvarchar](max) NOT NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 3/25/2025 3:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[phone_number] [nvarchar](20) NULL,
	[gender] [nvarchar](10) NULL,
	[roles] [nvarchar](50) NULL,
	[avatar_pics] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bill] ON 

INSERT [dbo].[bill] ([bill_id], [account_id], [total_money], [payment], [create_date], [status]) VALUES (1, 3, 490000.0000, N'QR_Code', CAST(N'2025-03-18T01:11:42.707' AS DateTime), 1)
INSERT [dbo].[bill] ([bill_id], [account_id], [total_money], [payment], [create_date], [status]) VALUES (2, 3, 410000.0000, N'QR_Code', CAST(N'2025-03-18T12:24:23.910' AS DateTime), 1)
INSERT [dbo].[bill] ([bill_id], [account_id], [total_money], [payment], [create_date], [status]) VALUES (3, 3, 535000.0000, N'QR_Code', CAST(N'2025-03-18T12:25:40.727' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[bill] OFF
GO
SET IDENTITY_INSERT [dbo].[bill_detail] ON 

INSERT [dbo].[bill_detail] ([bd_id], [bill_id], [book_id], [price]) VALUES (1, 1, N'B01', 150000.0000)
INSERT [dbo].[bill_detail] ([bd_id], [bill_id], [book_id], [price]) VALUES (2, 1, N'B02', 180000.0000)
INSERT [dbo].[bill_detail] ([bd_id], [bill_id], [book_id], [price]) VALUES (3, 1, N'B03', 160000.0000)
SET IDENTITY_INSERT [dbo].[bill_detail] OFF
GO
INSERT [dbo].[category] ([category_id], [category_name], [status]) VALUES (N'C01', N'Poem', 1)
INSERT [dbo].[category] ([category_id], [category_name], [status]) VALUES (N'C02', N'Economic', 1)
INSERT [dbo].[category] ([category_id], [category_name], [status]) VALUES (N'C03', N'Psychology', 1)
GO
INSERT [dbo].[supplier] ([supplier_id], [description], [supplier_name], [status]) VALUES (N'S01', N'Nhà xuất bản chuyên về sách thiếu nhi và truyện tranh.', N'NXB Kim Đồng', 1)
INSERT [dbo].[supplier] ([supplier_id], [description], [supplier_name], [status]) VALUES (N'S02', N'Nhà xuất bản lớn với nhiều thể loại sách đa dạng.', N'NXB Trẻ', 1)
INSERT [dbo].[supplier] ([supplier_id], [description], [supplier_name], [status]) VALUES (N'S03', N'Chuyên xuất bản sách giáo khoa, tài liệu học tập.', N'NXB Giáo Dục', 1)
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([account_id], [username], [password], [full_name], [email], [phone_number], [gender], [roles], [avatar_pics]) VALUES (1, N'adminUser', N'adminPass', N'Admin', N'admin@example.com', N'0123456789', N'Male', N'admin', N'/EbookCommerce/avatars/people.png')
INSERT [dbo].[user] ([account_id], [username], [password], [full_name], [email], [phone_number], [gender], [roles], [avatar_pics]) VALUES (2, N'customerUser', N'customerPass', N'Customer User', N'customer@example.com', N'0987654321', N'Female', N'user', N'customer_avatar.png')
INSERT [dbo].[user] ([account_id], [username], [password], [full_name], [email], [phone_number], [gender], [roles], [avatar_pics]) VALUES (3, N'Binhdz', N'123456', N'Dang Tan Binh', N'bdang798@gmail.com', N'03337053566', N'Male', N'customer', N'/EbookCommerce/avatars/user.png')
SET IDENTITY_INSERT [dbo].[user] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__category__5189E2556EAEA142]    Script Date: 3/25/2025 3:09:06 PM ******/
ALTER TABLE [dbo].[category] ADD UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__user__AB6E616421F1757E]    Script Date: 3/25/2025 3:09:06 PM ******/
ALTER TABLE [dbo].[user] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__user__F3DBC572002FF9E2]    Script Date: 3/25/2025 3:09:06 PM ******/
ALTER TABLE [dbo].[user] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bill] ADD  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_User] FOREIGN KEY([account_id])
REFERENCES [dbo].[user] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bill] CHECK CONSTRAINT [FK_Bill_User]
GO
ALTER TABLE [dbo].[bill_detail]  WITH CHECK ADD  CONSTRAINT [FK_BillDetail_Bill] FOREIGN KEY([bill_id])
REFERENCES [dbo].[bill] ([bill_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bill_detail] CHECK CONSTRAINT [FK_BillDetail_Bill]
GO
ALTER TABLE [dbo].[bill_detail]  WITH CHECK ADD  CONSTRAINT [FK_BillDetail_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[book] ([book_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bill_detail] CHECK CONSTRAINT [FK_BillDetail_Book]
GO
ALTER TABLE [dbo].[book]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([category_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[book]  WITH CHECK ADD FOREIGN KEY([supplier_id])
REFERENCES [dbo].[supplier] ([supplier_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD  CONSTRAINT [chk_status] CHECK  (([status]=(1) OR [status]=(0)))
GO
ALTER TABLE [dbo].[bill] CHECK CONSTRAINT [chk_status]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD CHECK  (([gender]='Other' OR [gender]='Female' OR [gender]='Male'))
GO
/****** Object:  StoredProcedure [dbo].[sp_AuthenticateUser]    Script Date: 3/25/2025 3:09:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AuthenticateUser]
    @username NVARCHAR(255),
    @password NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;  ----Giúp tắt thông báo số lượng dòng ảnh hưởng, tránh gây nhiễu kết quả trả về.
    SELECT account_id, username, roles,
      full_name
      ,email
      ,phone_number
      ,gender
      ,[password]
      ,[avatar_pics]
    FROM [user]
    WHERE username = @username AND [password] = @password;
END
GO
